# 1. NOMBRE ÚNICO DEL SERVICIO
service: payment-ms 

# 2. CARGA DE CONFIGURACIÓN EXTERNA
custom:
  # Cargamos el archivo común de la raíz
  common: ${file(../../shared/common.yml)}
  
  # Plugin dotenv: Lee el archivo .env de la raíz
  dotenv:
    path: ../../.env
    logging: false

  # Heredamos la configuración de esbuild del archivo común
  esbuild: ${self:custom.common.custom.esbuild}

# 3. PLUGINS (Se deben listar explícitamente en cada servicio)
plugins:
  - serverless-esbuild
  - serverless-dotenv-plugin

# 4. PROVIDER (Heredamos todo del common)
provider:
  name: ${self:custom.common.provider.name}
  runtime: ${self:custom.common.provider.runtime}
  region: ${self:custom.common.provider.region}
  stage: ${self:custom.common.provider.stage}
  memorySize: ${self:custom.common.provider.memorySize}
  timeout: ${self:custom.common.provider.timeout}
  
  # Heredamos el Rol dinámico (se resuelve con el .env cargado arriba)
  role: ${self:custom.common.provider.role}

  # Heredamos variables de entorno globales (EventBus, etc.)
  environment: ${self:custom.common.provider.environment}

# 5. Insfractructura especifica del servicio